* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}
body {
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  overflow: hidden;
}

.contact {
  max-width: 400px;
  height: 470px;
  background-color: rgb(205, 197, 197);
  /* position: relative; */
  overflow: hidden;
  border-radius: 20px;
  float: right;
  right: 200px;
  box-shadow: 0 4px 8px 0 rgb(116, 112, 112);
  text-align: center;
  margin-left: 100px;
}
h1 {
  color: rgb(211, 230, 6);
  text-align: center;
  top: 20px;
  font-size: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0.8;
  margin-top: 30px;
}
.contact h3 {
  text-align: center;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid brown;
  font-size: 30px;
}
.txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 4px;
  height: 40px;
  font-size: 16px;
  background: none;
  outline: none;
  letter-spacing: 2px;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: white;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -8px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  top: 100%;
  color: #2691d9;
}
input[type="submit"] {
  width: 80%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: aliceblue;
}
input[type="reset"] {
  width: 80%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: aliceblue;
}
.field {
  text-align: left;
  letter-spacing: 4px;
}
.contact .fieldd {
  text-align: left;
  margin-top: 5px;
  color: rgb(16, 15, 15);
}

.container {
  max-width: 100%;
  height: auto;
  /* background-color: rgb(205, 197, 197); */
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  float: left;
  left: 200px;
  display: flex;
  text-align: center;
}
.container .contactInfo .box {
  position: relative;
  padding: 35px 0;
  display: flex;
}
.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container p {
  color: white;
}

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .container {
    float: left;
    left: 80px;
  }
  .contact {
    float: right;
    right: 100px;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  .container {
    display: block;
    height: auto;
  }
  .contact {
    margin-left: 0px;
  }
}
